<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ user }}'s Snapchat story</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://livibetter-backup.github.io/jquery-jknav/jquery.jknav.min.js"></script>
    <style>
        body {
            text-align: center;
        }

        .item {
            max-height: 700px;
            padding-top: 20px;
        }

        a {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <p><a href="{{ prevLink }}">Prev</a> | <a href="{{ nextLink }}">Next</a></p>

    
    {% for f,g in files %}
        {% if g %}
            <video class="item" controls>
                <source src="{{ f }}">
            </video>
        {% else %}
            <img class="item" src="{{ f }}">
        {% endif %}
        <br>
    {% endfor %}

    <p><a href="{{ prevLink }}">Prev</a> | <a href="{{ nextLink }}">Next</a>

    <script>
    function clickA(innerText) {
        var as = document.getElementsByTagName("a");

        for (var i = 0; i < as.length; i++) {
            if (as[i].innerText == innerText) {
                as[i].click();
            }
        };
    }

    function pressedKey(e) {
        var h = 72;
        var l = 76;

        if (e.keyCode == h) {
            clickA("Prev");            
        }
        else if (e.keyCode == l) {
            clickA("Next");
        }
    }

    $('.item').jknav();
    $.jknav.init({
        easing: 'linear',
        speed: 10,
        reevaluate: true,
        circular: false
    });

    document.addEventListener('keyup', pressedKey, false);
    </script>
</body>
</html>
